defaults:
  - env: zone_env_nm
  - hydra: simple
  - _self_

type: eval # eval or training
algorithms:
  - struct_ltl
runs:
  - main

smooth_radius: 10
bin_size: 65536  # for aggregating training steps
confidence_interval:
  method: student_t  # student_t or bootstrap
  confidence_level: 0.95
  bootstrap:
    n_resamples: 10000
    seed: 42

save: false
