defaults:
  - env: zone_env_nm
  - alg: struct_ltl
  - experiment: ${env}/${alg}
  - hydra: simple
  - _self_

env:
  use_precomputed_resets: false
policy: "teleop" # "teleop" or "random"
print_debug: true
